<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleURLTypes</key>
	<array>
		<array>
			<string>application/x-pymol</string>
		</array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>PyMOL Helper</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pymol</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-pdb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL PDB file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ent</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>chemical/x-pdb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL ENT (PDB) file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p5m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pymol</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL P5M file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pwg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pymol</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL PWG file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>p1m</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-pymol</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL P1M file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pse</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL PSE file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>psw</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL PSW file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mol2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL MOL2 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mol</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL MOL file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL SDF file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mmod</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL MMOD file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL PKL file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xplor</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL XPLOR file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ccp4</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL CCP4 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>trj</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL TRJ file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>top</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL TOP file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL CEX file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cgo</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL CGO file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xyz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL XYZ file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cc1</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL CC1 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>o</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL O file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>omap</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL OMAP file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dsn6</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL DSN6 file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>brix</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL BRIX file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>r3d</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL R3D file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>grd</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL GRD file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fld</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL FLD file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>phi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL PHI file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL DX file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pqr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>PDB.icns</string>
			<key>CFBundleTypeName</key>
			<string>PyMOL PQR file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>129</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL PML Script file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pym</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PyMOL PYM Script file</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MyDocument</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>PyMOL X11</string>
	<key>CFBundleExecutable</key>
	<string>PyMOL.sh</string>
	<key>CFBundleIconFile</key>
	<string>PyMOL.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleIdentifier</key>
	<string>org.pymol.MacPyMOL_X11</string>
</dict>
</plist>
